body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    background-color: aqua;
    width: 500px;
    height: 100px;
    position: fixed;
    top: 50%; 
    right: 0;
    margin-right: 300px; 
    margin-bottom: 100px;
    transform: translateY(-50%);
    text-align: center;
}